# Golang source code
*.go     text eol=lf whitespace=blank-at-eol,blank-at-eof,space-before-tab,trailing-space,tabwidth=4

*.md     text=auto whitespace=blank-at-eol,trailing-space,tabwidth=4
README   text=auto whitespace=blank-at-eol,trailing-space,tabwidth=4
